
@model LCFinalProject.ViewModels.PredictorViewModel


<section class="bg-primary text-white" id="yesterdayTopFive">
    <h1 style="text-align:center"> Yesterday Top Five </h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="yesterday"></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="catcher">
    <h1 style="text-align:center"> Catchers </h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="catchers"></div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="firstbase">
    <h1 style="text-align:center"> First Basemen </h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="firstbasemen"></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="secondbase">
    <h1 style="text-align:center"> Second Basemen </h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="secondbasemen"></div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="thirdbase">
    <h1 style="text-align:center"> Third Basemen </h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="thirdbasemen"></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="shortstop">
    <h1 style="text-align:center">Shortstops</h1>>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="shortstops"></div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="outfield">
    <h1 style="text-align:center"> Outfielders </h1>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="outfielders"></div>
            </div>
        </div>
    </div>
</section>


<script>
    function catcherData() {
        var data = new Array();


        @foreach (var player in Model.Catchers)
        {
            var playerName = player.FirstName + " " + player.LastName;
            var totalSingles = player.Hits - player.Doubles - player.Triples - player.HomeRuns;

            var totalBases = (player.LastFiveDouble * 2) + (player.LastFiveTriple * 3) + (player.LastFiveHR * 4) + (player.LastFiveSingle);
            var seasonTotalBases = (totalSingles) + (player.Doubles * 2) + (player.Triples * 3) + (player.HomeRuns * 4);

            @:data.push({Name: "@playerName", DaysInTop: "@player.DaysInTop", LastTenAngle: "@player.LastTenLaunchAvg", LastTenSpeed: "@player.LastTenSpeedAvg", LastTenDistance: "@player.DistanceAvg", LastFiveTB: "@totalBases", LastFiveHits: "@player.LastFiveSingle", SeasonTB: "@seasonTotalBases", SeasonHits: "@totalSingles", HomeRuns: "@player.HomeRuns"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#catchers").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Top 5 Days",
                field: "DaysInTop",
                encoded: true
            }, {
                title: "Launch Angle",
                field: "LastTenAngle",
                encoded: true
            }, {
                title: "Hit Speed",
                field: "LastTenSpeed",
                encoded: true
            }, {
                title: "Distance Average",
                field: "LastTenDistance",
                encoded: true
            }, {
                title: "L5 TB",
                field: "LastFiveTB",
                encoded: true
            }, {
                title: "L5 Single",
                field: "LastFiveHits",
                encoded: true
            }, {
                title: "Season TB",
                field: "SeasonTB",
                encoded: true
            }, {
                title: "Season Single",
                field: "SeasonHits",
                encoded: true
            }, {
                title: "HR",
                field: "HomeRuns",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: catcherData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            DaysInTop: {
                                type: "number"
                            },
                            Opponent: {
                                type: "string"
                            },
                            Projection: {
                                type: "number"
                            },
                            Salary: {
                                type: "number"
                            },
                            LastTenLaunchAvg: {
                                type: "decimal"
                            },
                            LastTenSpeedAvg: {
                                type: "decimal"
                            },
                            LastTenDistance: {
                                type: "decimal"
                            },
                            LastFiveTB: {
                                type: "number"
                            },
                            LastFiveHits: {
                                type: "number"
                            },
                            SeasonTB: {
                                type: "number"
                            },
                            SeasonHits: {
                                type: "number"
                            },
                            HomeRuns: {
                                type: "number"
                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function firstBaseData() {
        var data = new Array();


        @foreach (var player in Model.FirstBasemen)
        {
            var playerName = player.FirstName + " " + player.LastName;
            var totalSingles = player.Hits - player.Doubles - player.Triples - player.HomeRuns;

            var totalBases = (player.LastFiveDouble * 2) + (player.LastFiveTriple * 3) + (player.LastFiveHR * 4) + (player.LastFiveSingle);
            var seasonTotalBases = (totalSingles) + (player.Doubles * 2) + (player.Triples * 3) + (player.HomeRuns * 4);

            @:data.push({Name: "@playerName", DaysInTop: "@player.DaysInTop", LastTenAngle: "@player.LastTenLaunchAvg", LastTenSpeed: "@player.LastTenSpeedAvg", LastTenDistance: "@player.DistanceAvg", LastFiveTB: "@totalBases", LastFiveHits: "@player.LastFiveSingle", SeasonTB: "@seasonTotalBases", SeasonHits: "@totalSingles", HomeRuns: "@player.HomeRuns"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#firstbasemen").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Top 5 Days",
                field: "DaysInTop",
                encoded: true
            }, {
                title: "Launch Angle",
                field: "LastTenAngle",
                encoded: true
            }, {
                title: "Hit Speed",
                field: "LastTenSpeed",
                encoded: true
            }, {
                title: "Distance Average",
                field: "LastTenDistance",
                encoded: true
            }, {
                title: "L5 TB",
                field: "LastFiveTB",
                encoded: true
            }, {
                title: "L5 Single",
                field: "LastFiveHits",
                encoded: true
            }, {
                title: "Season TB",
                field: "SeasonTB",
                encoded: true
            }, {
                title: "Season Single",
                field: "SeasonHits",
                encoded: true
            }, {
                title: "HR",
                field: "HomeRuns",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: firstBaseData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            DaysInTop: {
                                type: "number"
                            },
                            Opponent: {
                                type: "string"
                            },
                            Projection: {
                                type: "number"
                            },
                            Salary: {
                                type: "number"
                            },
                            LastTenLaunchAvg: {
                                type: "decimal"
                            },
                            LastTenSpeedAvg: {
                                type: "decimal"
                            },
                            LastTenDistance: {
                                type: "decimal"
                            },
                            LastFiveTB: {
                                type: "number"
                            },
                            LastFiveHits: {
                                type: "number"
                            },
                            SeasonTB: {
                                type: "number"
                            },
                            SeasonHits: {
                                type: "number"
                            },
                            HomeRuns: {
                                type: "number"
                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function secondBaseData() {
        var data = new Array();


        @foreach (var player in Model.SecondBasemen)
        {
            var playerName = player.FirstName + " " + player.LastName;
            var totalSingles = player.Hits - player.Doubles - player.Triples - player.HomeRuns;

            var totalBases = (player.LastFiveDouble * 2) + (player.LastFiveTriple * 3) + (player.LastFiveHR * 4) + (player.LastFiveSingle);
            var seasonTotalBases = (totalSingles) + (player.Doubles * 2) + (player.Triples * 3) + (player.HomeRuns * 4);

            @:data.push({Name: "@playerName", DaysInTop: "@player.DaysInTop", LastTenAngle: "@player.LastTenLaunchAvg", LastTenSpeed: "@player.LastTenSpeedAvg", LastTenDistance: "@player.DistanceAvg", LastFiveTB: "@totalBases", LastFiveHits: "@player.LastFiveSingle", SeasonTB: "@seasonTotalBases", SeasonHits: "@totalSingles", HomeRuns: "@player.HomeRuns"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#secondbasemen").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Top 5 Days",
                field: "DaysInTop",
                encoded: true
            }, {
                title: "Launch Angle",
                field: "LastTenAngle",
                encoded: true
            }, {
                title: "Hit Speed",
                field: "LastTenSpeed",
                encoded: true
            }, {
                title: "Distance Average",
                field: "LastTenDistance",
                encoded: true
            }, {
                title: "L5 TB",
                field: "LastFiveTB",
                encoded: true
            }, {
                title: "L5 Single",
                field: "LastFiveHits",
                encoded: true
            }, {
                title: "Season TB",
                field: "SeasonTB",
                encoded: true
            }, {
                title: "Season Single",
                field: "SeasonHits",
                encoded: true
            }, {
                title: "HR",
                field: "HomeRuns",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: secondBaseData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            DaysInTop: {
                                type: "number"
                            },
                            Opponent: {
                                type: "string"
                            },
                            Projection: {
                                type: "number"
                            },
                            Salary: {
                                type: "number"
                            },
                            LastTenLaunchAvg: {
                                type: "decimal"
                            },
                            LastTenSpeedAvg: {
                                type: "decimal"
                            },
                            LastTenDistance: {
                                type: "decimal"
                            },
                            LastFiveTB: {
                                type: "number"
                            },
                            LastFiveHits: {
                                type: "number"
                            },
                            SeasonTB: {
                                type: "number"
                            },
                            SeasonHits: {
                                type: "number"
                            },
                            HomeRuns: {
                                type: "number"
                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function thirdBaseData() {
        var data = new Array();


        @foreach (var player in Model.ThirdBasemen)
        {
            var playerName = player.FirstName + " " + player.LastName;
            var totalSingles = player.Hits - player.Doubles - player.Triples - player.HomeRuns;

            var totalBases = (player.LastFiveDouble * 2) + (player.LastFiveTriple * 3) + (player.LastFiveHR * 4) + (player.LastFiveSingle);
            var seasonTotalBases = (totalSingles) + (player.Doubles * 2) + (player.Triples * 3) + (player.HomeRuns * 4);

            @:data.push({Name: "@playerName", DaysInTop: "@player.DaysInTop", LastTenAngle: "@player.LastTenLaunchAvg", LastTenSpeed: "@player.LastTenSpeedAvg", LastTenDistance: "@player.DistanceAvg", LastFiveTB: "@totalBases", LastFiveHits: "@player.LastFiveSingle", SeasonTB: "@seasonTotalBases", SeasonHits: "@totalSingles", HomeRuns: "@player.HomeRuns"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#thirdbasemen").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Top 5 Days",
                field: "DaysInTop",
                encoded: true
            }, {
                title: "Launch Angle",
                field: "LastTenAngle",
                encoded: true
            }, {
                title: "Hit Speed",
                field: "LastTenSpeed",
                encoded: true
            }, {
                title: "Distance Average",
                field: "LastTenDistance",
                encoded: true
            }, {
                title: "L5 TB",
                field: "LastFiveTB",
                encoded: true
            }, {
                title: "L5 Single",
                field: "LastFiveHits",
                encoded: true
            }, {
                title: "Season TB",
                field: "SeasonTB",
                encoded: true
            }, {
                title: "Season Single",
                field: "SeasonHits",
                encoded: true
            }, {
                title: "HR",
                field: "HomeRuns",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: thirdBaseData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            DaysInTop: {
                                type: "number"
                            },
                            Opponent: {
                                type: "string"
                            },
                            Projection: {
                                type: "number"
                            },
                            Salary: {
                                type: "number"
                            },
                            LastTenLaunchAvg: {
                                type: "decimal"
                            },
                            LastTenSpeedAvg: {
                                type: "decimal"
                            },
                            LastTenDistance: {
                                type: "decimal"
                            },
                            LastFiveTB: {
                                type: "number"
                            },
                            LastFiveHits: {
                                type: "number"
                            },
                            SeasonTB: {
                                type: "number"
                            },
                            SeasonHits: {
                                type: "number"
                            },
                            HomeRuns: {
                                type: "number"
                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function shortStopData() {
        var data = new Array();


        @foreach (var player in Model.ShortStops)
        {
            var playerName = player.FirstName + " " + player.LastName;
            var totalSingles = player.Hits - player.Doubles - player.Triples - player.HomeRuns;

            var totalBases = (player.LastFiveDouble * 2) + (player.LastFiveTriple * 3) + (player.LastFiveHR * 4) + (player.LastFiveSingle);
            var seasonTotalBases = (totalSingles) + (player.Doubles * 2) + (player.Triples * 3) + (player.HomeRuns * 4);

            @:data.push({Name: "@playerName", DaysInTop: "@player.DaysInTop", LastTenAngle: "@player.LastTenLaunchAvg", LastTenSpeed: "@player.LastTenSpeedAvg", LastTenDistance: "@player.DistanceAvg", LastFiveTB: "@totalBases", LastFiveHits: "@player.LastFiveSingle", SeasonTB: "@seasonTotalBases", SeasonHits: "@totalSingles", HomeRuns: "@player.HomeRuns"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#shortstops").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Top 5 Days",
                field: "DaysInTop",
                encoded: true
            }, {
                title: "Launch Angle",
                field: "LastTenAngle",
                encoded: true
            }, {
                title: "Hit Speed",
                field: "LastTenSpeed",
                encoded: true
            }, {
                title: "Distance Average",
                field: "LastTenDistance",
                encoded: true
            }, {
                title: "L5 TB",
                field: "LastFiveTB",
                encoded: true
            }, {
                title: "L5 Single",
                field: "LastFiveHits",
                encoded: true
            }, {
                title: "Season TB",
                field: "SeasonTB",
                encoded: true
            }, {
                title: "Season Single",
                field: "SeasonHits",
                encoded: true
            }, {
                title: "HR",
                field: "HomeRuns",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: shortStopData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            DaysInTop: {
                                type: "number"
                            },
                            Opponent: {
                                type: "string"
                            },
                            Projection: {
                                type: "number"
                            },
                            Salary: {
                                type: "number"
                            },
                            LastTenLaunchAvg: {
                                type: "decimal"
                            },
                            LastTenSpeedAvg: {
                                type: "decimal"
                            },
                            LastTenDistance: {
                                type: "decimal"
                            },
                            LastFiveTB: {
                                type: "number"
                            },
                            LastFiveHits: {
                                type: "number"
                            },
                            SeasonTB: {
                                type: "number"
                            },
                            SeasonHits: {
                                type: "number"
                            },
                            HomeRuns: {
                                type: "number"
                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function outFieldData() {
        var data = new Array();


        @foreach (var player in Model.Outfielders)
        {
            var playerName = player.FirstName + " " + player.LastName;
            var totalSingles = player.Hits - player.Doubles - player.Triples - player.HomeRuns;

            var totalBases = (player.LastFiveDouble * 2) + (player.LastFiveTriple * 3) + (player.LastFiveHR * 4) + (player.LastFiveSingle);
            var seasonTotalBases = (totalSingles) + (player.Doubles * 2) + (player.Triples * 3) + (player.HomeRuns * 4);

            @:data.push({Name: "@playerName", DaysInTop: "@player.DaysInTop", LastTenAngle: "@player.LastTenLaunchAvg", LastTenSpeed: "@player.LastTenSpeedAvg", LastTenDistance: "@player.DistanceAvg", LastFiveTB: "@totalBases", LastFiveHits: "@player.LastFiveSingle", SeasonTB: "@seasonTotalBases", SeasonHits: "@totalSingles", HomeRuns: "@player.HomeRuns"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#outfielders").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Top 5 Days",
                field: "DaysInTop",
                encoded: true
            }, {
                title: "Launch Angle",
                field: "LastTenAngle",
                encoded: true
            }, {
                title: "Hit Speed",
                field: "LastTenSpeed",
                encoded: true
            }, {
                title: "Distance Average",
                field: "LastTenDistance",
                encoded: true
            }, {
                title: "L5 TB",
                field: "LastFiveTB",
                encoded: true
            }, {
                title: "L5 Single",
                field: "LastFiveHits",
                encoded: true
            }, {
                title: "Season TB",
                field: "SeasonTB",
                encoded: true
            }, {
                title: "Season Single",
                field: "SeasonHits",
                encoded: true
            }, {
                title: "HR",
                field: "HomeRuns",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: outFieldData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            DaysInTop: {
                                type: "number"
                            },
                            Opponent: {
                                type: "string"
                            },
                            Projection: {
                                type: "number"
                            },
                            Salary: {
                                type: "number"
                            },
                            LastTenLaunchAvg: {
                                type: "decimal"
                            },
                            LastTenSpeedAvg: {
                                type: "decimal"
                            },
                            LastTenDistance: {
                                type: "decimal"
                            },
                            LastFiveTB: {
                                type: "number"
                            },
                            LastFiveHits: {
                                type: "number"
                            },
                            SeasonTB: {
                                type: "number"
                            },
                            SeasonHits: {
                                type: "number"
                            },
                            HomeRuns: {
                                type: "number"
                            }
                        }
                    }
                }
            }
        });
    });
</script>








<script>
    function YesterdayData() {
        var data = new Array();


        @foreach (var game in Model.YesterdayTopFive)
        {


             @:data.push({ Name: "@game.PlayerName",  LastGame: "@game.Score", Position: "@game.Position"});

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#yesterday").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                encoded: true
            }, {
                title: "Score",
                field: "LastGame",
                encoded: true
            }, {
                title: "Position",
                field: "Position",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: YesterdayData(),
                pageSize: 25,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Score: {
                                type: "number"
                            },
                            Position: {
                                type: "string"
                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function teamData() {
        var data = new Array();


        @*@foreach (var team in Model.Teams)
        {

             @:data.push({ Team: "@team.TeamName", Hits: "@team.Hits", Homeruns: "@team.HomeRuns", Runs: "@team.Runs", Strikeouts: "@team.StrikeOuts", TotalPoints: "@team.TotalPoints", PitchersUsed: "@team.GamesPlayedGauge", HitsAllowed: "@team.HitsAllowed", HomerunsAllowed: "@team.HomeRunsAllowed", RunsAllowed: "@team.RunsAllowed", PointsAllowed: "@team.PointsGivenUp", PointsPPU: "@team.PointsPerPitcherUsed" });

        }*@

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#teams").kendoGrid({
            columns: [{
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Hits",
                field: "Hits",
                encoded: true
            }, {
                title: "Homeruns",
                field: "Homeruns",
                encoded: true
            }, {
                title: "Runs",
                field: "Runs",
                encoded: true
            }, {
                title: "Strikeouts",
                field: "Strikeouts",
                encoded: true
            }, {
                title: "Offensive Points",
                field: "TotalPoints",
                encoded: true
            }, {
                title: "Pitchers Used",
                field: "PitchersUsed",
                encoded: true
            }, {
                title: "HitsAllowed",
                field: "HitsAllowed",
                encoded: true
            }, {
                title: "Homeruns Allowed",
                field: "HomerunsAllowed",
                encoded: true
            }, {
                title: "Runs Allowed",
                field: "RunsAllowed",
                encoded: true
            }, {
                title: "Points Allowed",
                field: "PointsAllowed",
                encoded: true
            }, {
                title: "Points PPU",
                field: "PointsPPU",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: teamData(),
                pageSize: 30,
                schema: {
                    model: {
                        fields: {
                            Team: {
                                type: "string"
                            },
                            Hits: {
                                type: "number"
                            },
                            Homeruns: {
                                type: "number"
                            },
                            Runs: {
                                type: "number"
                            },
                            Strikeouts: {
                                type: "number"
                            },
                            TotalPoints: {
                                type: "number"
                            },
                            PitchersUsed: {
                                type: "number"
                            },
                            HitsAllowed: {
                                type: "number"
                            },
                            HomerunsAllowed: {
                                type: "number"
                            },
                            RunsAllowed: {
                                type: "number"
                            },
                            PointsAllowed: {
                                type: "number"
                            },
                            PointsPPU: {
                                type: "decimal"
                            }
                        }
                    }
                }
            }
        });
    });
</script>

