
@model LCFinalProject.ViewModels.PredictorViewModel


<section class="portfolio" id="pitchers">
    <div>
        <h1 class="text-uppercase mb-0" style="text-align:center">Pitchers</h1>
        <hr class="star-light" />
        <div class="row">
            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Last 3 Game Averages</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.Pitchers)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.Name</td>
                            <td style="text-align:center">@pitcher.ProjectedScore</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Away Pitchers</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.AwayPitchers)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.Name</td>
                            <td style="text-align:center">@pitcher.TotalScore</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Home Pitchers</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.HomePitchers)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.Name</td>
                            <td style="text-align:center">@pitcher.TotalScore</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3">Last 3 Games StrikeOuts & IP</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Total StrikeOuts</th>
                            <th>Total IP</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.PitcherStrikeoutTrends)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.FirstName  @pitcher.LastName</td>
                            <td style="text-align:center">@pitcher.AvgStrikeOut</td>
                            <td style="text-align:center">@pitcher.AvgIP</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3">Last 3 Games HomeRuns and Runs Allowed</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Total HRA</th>
                            <th>Total RA</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.PitcherHRTrends)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.FirstName  @pitcher.LastName</td>
                            <td style="text-align:center">@pitcher.AvgHomeRunAllowed</td>
                            <td style="text-align:center">@pitcher.AvgRunAllowed</td>
                            <td style="text-align:center">@pitcher.AvgIP</td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>
</section>


<section class="bg-primary text-white" id="catchers">
    <div style="margin:2%">
        <h1 class="text-uppercase mb-0" style="text-align:center">Catchers</h1>
        <hr class="star-light">
        <div class="row">
            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Score</th>
                        </tr>
                    </thead>
                    @foreach (var catcher in Model.YesterdayCatchers)
                    {
                        <tr>
                            <td style="text-align:center">@catcher.Name</td>
                            <td style="text-align:center">@catcher.TotalScore</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3" style="text-align:center">Last 10 Games Average</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Score</th>
                            <th style="text-align:center">Team</th>
                        </tr>
                    </thead>
                    @foreach (var catcher in Model.Catchers)
                    {
                        <tr>
                            <td style="text-align:center">@catcher.Name</td>
                            <td style="text-align:center">@catcher.ProjectedScore</td>
                            <td style="text-align:center">@catcher.Team</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-2">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">Away Stats</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Score</th>
                            <th style="text-align:center">PPA</th>
                            <th style="text-align:center">Team</th>
                        </tr>
                    </thead>
                    @foreach (var catcher in Model.AwayCatchers)
                    {
                        <tr>
                            <td style="text-align:center">@catcher.Name</td>
                            <td style="text-align:center">@catcher.TotalScore</td>
                            <td style="text-align:center">@catcher.PointPerAtBat</td>
                            <td style="text-align:center">@catcher.Team</td>
                        </tr>

                    }
                </table>
            </div>
            <div class="col-lg-2">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">Home Stats</th>
                        </tr>
                        <tr>
                            <th style="text-align:center" height="10%">Name</th>
                            <th style="text-align:center">Score</th>
                            <th style="text-align:center">PPA</th>
                            <th style="text-align:center">Team</th>
                        </tr>
                    </thead>
                    @foreach (var catcher in Model.HomeCatchers)
                    {
                        <tr>
                            <td style="text-align:center">@catcher.Name</td>
                            <td style="text-align:center">@catcher.TotalScore</td>
                            <td style="text-align:center">@catcher.PointPerAtBat</td>
                            <td style="text-align:center">@catcher.Team</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-2">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">Versus Right Handers</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Score</th>
                            <th style="text-align:center">PPA</th>
                            <th style="text-align:center">Team</th>
                        </tr>
                    </thead>
                    @foreach (var catcher in Model.RhpCatchers)
                    {
                        <tr>
                            <td style="text-align:center">@catcher.Name</td>
                            <td style="text-align:center">@catcher.TotalScore</td>
                            <td style="text-align:center">@catcher.PointPerAtBat</td>
                            <td style="text-align:center">@catcher.Team</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-lg-2">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align:center">Versus Left Handers</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Score</th>
                            <th style="text-align:center">PPA</th>
                            <th style="text-align:center">Team</th>
                        </tr>
                    </thead>
                    @foreach (var catcher in Model.LhpCatchers)
                    {
                        <tr>
                            <td style="text-align:center" width="50%">@catcher.Name</td>
                            <td style="text-align:center">@catcher.TotalScore</td>
                            <td style="text-align:center">@catcher.PointPerAtBat</td>
                            <td style="text-align:center">@catcher.Team</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="firstbase">
    <h1> First Basemen </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var firstBase in Model.YesterdayFirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@firstBase.Name</td>
                        <td style="text-align:center">@firstBase.TotalScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Last 10 Games Average</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.FirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                        <td style="text-align:center">@firstBaseman.ProjectedScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.AwayFirstBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                    <td style="text-align:center">@firstBaseman.TotalScore</td>
                    <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@firstBaseman.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.HomeFirstBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                    <td style="text-align:center">@firstBaseman.TotalScore</td>
                    <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@firstBaseman.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.RhpFirstBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                    <td style="text-align:center">@firstBaseman.TotalScore</td>
                    <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@firstBaseman.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.LhpFirstBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                    <td style="text-align:center">@firstBaseman.TotalScore</td>
                    <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@firstBaseman.Team</td>
                </tr>

                }
            </table>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="secondbase">
    <h1> Second Basemen </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var secondBase in Model.YesterdaySecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@secondBase.Name</td>
                        <td style="text-align:center">@secondBase.TotalScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Last 10 Games Average</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.SecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@secondBaseman.Name</td>
                        <td style="text-align:center">@secondBaseman.ProjectedScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.AwaySecondBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                    <td style="text-align:center">@secondBaseman.TotalScore</td>
                    <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@secondBaseman.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.HomeSecondBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                    <td style="text-align:center">@secondBaseman.TotalScore</td>
                    <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@secondBaseman.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.RhpSecondBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                    <td style="text-align:center">@secondBaseman.TotalScore</td>
                    <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@secondBaseman.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.LhpSecondBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                    <td style="text-align:center">@secondBaseman.TotalScore</td>
                    <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@secondBaseman.Team</td>
                </tr>
                }
            </table>
        </div>
    </div>
</section>

<section class="portfolio" id="thirdbase">
    <h1> Third Basemen </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBase in Model.YesterdayThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@thirdBase.Name</td>
                        <td style="text-align:center">@thirdBase.TotalScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Last 10 Games Average</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.ThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@thirdBaseman.Name</td>
                        <td style="text-align:center">@thirdBaseman.ProjectedScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.AwayThirdBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                    <td style="text-align:center">@thirdBaseman.TotalScore</td>
                    <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@thirdBaseman.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.HomeThirdBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                    <td style="text-align:center">@thirdBaseman.TotalScore</td>
                    <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@thirdBaseman.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.RhpThirdBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                    <td style="text-align:center">@thirdBaseman.TotalScore</td>
                    <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@thirdBaseman.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.LhpThirdBasemen)
                {
                <tr>
                    <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                    <td style="text-align:center">@thirdBaseman.TotalScore</td>
                    <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                    <td style="text-align:center">@thirdBaseman.Team</td>
                </tr>
                }
            </table>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="shortstop">
    <h1> Shortstops </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.YesterdayShortstops)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.TotalScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Last 10 Games Average</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.ShortStops)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.ProjectedScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.AwayShortStops)
                {
                <tr>
                    <td style="text-align:center" width="50%">@shortstop.Name</td>
                    <td style="text-align:center">@shortstop.TotalScore</td>
                    <td style="text-align:center">@shortstop.PointPerAtBat</td>
                    <td style="text-align:center">@shortstop.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.HomeShortStops)
                {
                <tr>
                    <td style="text-align:center" width="50%">@shortstop.Name</td>
                    <td style="text-align:center">@shortstop.TotalScore</td>
                    <td style="text-align:center">@shortstop.PointPerAtBat</td>
                    <td style="text-align:center">@shortstop.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.RhpShortStops)
                {
                <tr>
                    <td style="text-align:center" width="50%">@shortstop.Name</td>
                    <td style="text-align:center">@shortstop.TotalScore</td>
                    <td style="text-align:center">@shortstop.PointPerAtBat</td>
                    <td style="text-align:center">@shortstop.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.LhpShortStops)
                {
                <tr>
                    <td style="text-align:center" width="50%">@shortstop.Name</td>
                    <td style="text-align:center">@shortstop.TotalScore</td>
                    <td style="text-align:center">@shortstop.PointPerAtBat</td>
                    <td style="text-align:center">@shortstop.Team</td>
                </tr>
                }
            </table>
        </div>
    </div>
</section>

<section class="portfolio" id="outfield">
    <h1> Outfielders </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.YesterdayOutfielders)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.TotalScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Last 10 Games Average</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.Outfielders)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.ProjectedScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.AwayOutfielders)
                {
                <tr>
                    <td style="text-align:center" width="50%">@outfielder.Name</td>
                    <td style="text-align:center">@outfielder.TotalScore</td>
                    <td style="text-align:center">@outfielder.PointPerAtBat</td>
                    <td style="text-align:center">@outfielder.Team</td>
                </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.HomeOutfielders)
                {
                <tr>
                    <td style="text-align:center" width="50%">@outfielder.Name</td>
                    <td style="text-align:center">@outfielder.TotalScore</td>
                    <td style="text-align:center">@outfielder.PointPerAtBat</td>
                    <td style="text-align:center">@outfielder.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.RhpOutfielders)
                {
                <tr>
                    <td style="text-align:center" width="50%">@outfielder.Name</td>
                    <td style="text-align:center">@outfielder.TotalScore</td>
                    <td style="text-align:center">@outfielder.PointPerAtBat</td>
                    <td style="text-align:center">@outfielder.Team</td>
                </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.LhpOutfielders)
                {
                <tr>
                    <td style="text-align:center" width="50%">@outfielder.Name</td>
                    <td style="text-align:center">@outfielder.TotalScore</td>
                    <td style="text-align:center">@outfielder.PointPerAtBat</td>
                    <td style="text-align:center">@outfielder.Team</td>
                </tr>
                }
            </table>
        </div>


    </div>
</section>


