
@model LCFinalProject.ViewModels.PredictorViewModel

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/styles/kendo.rtl.min.css" rel="stylesheet" />
<link href="~/styles/kendo.mobile.all.min.css" rel="stylesheet" />
<link href="~/styles/kendo.default.min.css" rel="stylesheet" />
<script src="~/js/js/kendo.all.min.js"></script>
<script src="~/js/js/jszip.min.js"></script>
<script src="~/js/js/jquery.min.js"></script>
<section class="portfolio" id="pitchers">
    <div>
        <h1 class="text-uppercase mb-0" style="text-align:center">Pitchers</h1>
        <hr class="star-light" />
        <div class="row">
            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Last 3 Game Averages</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.Pitchers)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.Name</td>
                            <td style="text-align:center">@pitcher.ProjectedScore</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Away Pitchers</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.AwayPitchers)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.Name</td>
                            <td style="text-align:center">@pitcher.TotalScore</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="2">Home Pitchers</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.HomePitchers)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.Name</td>
                            <td style="text-align:center">@pitcher.TotalScore</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3">Last 3 Games StrikeOuts & IP</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Total StrikeOuts</th>
                            <th>Total IP</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.PitcherStrikeoutTrends)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.FirstName  @pitcher.LastName</td>
                            <td style="text-align:center">@pitcher.AvgStrikeOut</td>
                            <td style="text-align:center">@pitcher.AvgIP</td>
                        </tr>
                    }
                </table>
            </div>


            <div class="table-responsive col-lg-2">
                <table class="table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th colspan="3">Last 3 Games HomeRuns and Runs Allowed</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Total HRA</th>
                            <th>Total RA</th>
                        </tr>
                    </thead>
                    @foreach (var pitcher in Model.PitcherHRTrends)
                    {
                        <tr>
                            <td style="text-align:center">@pitcher.FirstName  @pitcher.LastName</td>
                            <td style="text-align:center">@pitcher.AvgHomeRunAllowed</td>
                            <td style="text-align:center">@pitcher.AvgRunAllowed</td>
                            <td style="text-align:center">@pitcher.AvgIP</td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>
</section>


<section class="bg-primary text-white" id="catchers">
    <h1 class="text-uppercase mb-0" style="text-align:center">Catchers</h1>
    <hr class="star-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="catchers" style="height:550px;"></div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio" id="firstbase">
    <h1> First Basemen </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var firstBase in Model.YesterdayFirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@firstBase.Name</td>
                        <td style="text-align:center">@firstBase.TotalScore</td>
                    </tr>
                }
            </table>
        </div>

        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.AwayFirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                        <td style="text-align:center">@firstBaseman.TotalScore</td>
                        <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@firstBaseman.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.HomeFirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                        <td style="text-align:center">@firstBaseman.TotalScore</td>
                        <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@firstBaseman.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.RhpFirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                        <td style="text-align:center">@firstBaseman.TotalScore</td>
                        <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@firstBaseman.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var firstBaseman in Model.LhpFirstBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@firstBaseman.Name</td>
                        <td style="text-align:center">@firstBaseman.TotalScore</td>
                        <td style="text-align:center">@firstBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@firstBaseman.Team</td>
                    </tr>

                }
            </table>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="secondbase">
    <h1> Second Basemen </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var secondBase in Model.YesterdaySecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@secondBase.Name</td>
                        <td style="text-align:center">@secondBase.TotalScore</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.AwaySecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                        <td style="text-align:center">@secondBaseman.TotalScore</td>
                        <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@secondBaseman.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.HomeSecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                        <td style="text-align:center">@secondBaseman.TotalScore</td>
                        <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@secondBaseman.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.RhpSecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                        <td style="text-align:center">@secondBaseman.TotalScore</td>
                        <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@secondBaseman.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var secondBaseman in Model.LhpSecondBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@secondBaseman.Name</td>
                        <td style="text-align:center">@secondBaseman.TotalScore</td>
                        <td style="text-align:center">@secondBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@secondBaseman.Team</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>

<section class="portfolio" id="thirdbase">
    <h1> Third Basemen </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBase in Model.YesterdayThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@thirdBase.Name</td>
                        <td style="text-align:center">@thirdBase.TotalScore</td>
                    </tr>
                }
            </table>
        </div>

        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center" width="75%">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.AwayThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                        <td style="text-align:center">@thirdBaseman.TotalScore</td>
                        <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@thirdBaseman.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.HomeThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                        <td style="text-align:center">@thirdBaseman.TotalScore</td>
                        <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@thirdBaseman.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.RhpThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                        <td style="text-align:center">@thirdBaseman.TotalScore</td>
                        <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@thirdBaseman.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var thirdBaseman in Model.LhpThirdBasemen)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@thirdBaseman.Name</td>
                        <td style="text-align:center">@thirdBaseman.TotalScore</td>
                        <td style="text-align:center">@thirdBaseman.PointPerAtBat</td>
                        <td style="text-align:center">@thirdBaseman.Team</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>

<section class="bg-primary text-white" id="shortstop">
    <h1> Shortstops </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.YesterdayShortstops)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.TotalScore</td>
                    </tr>
                }
            </table>
        </div>

        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.AwayShortStops)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.TotalScore</td>
                        <td style="text-align:center">@shortstop.PointPerAtBat</td>
                        <td style="text-align:center">@shortstop.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.HomeShortStops)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.TotalScore</td>
                        <td style="text-align:center">@shortstop.PointPerAtBat</td>
                        <td style="text-align:center">@shortstop.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.RhpShortStops)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.TotalScore</td>
                        <td style="text-align:center">@shortstop.PointPerAtBat</td>
                        <td style="text-align:center">@shortstop.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var shortstop in Model.LhpShortStops)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@shortstop.Name</td>
                        <td style="text-align:center">@shortstop.TotalScore</td>
                        <td style="text-align:center">@shortstop.PointPerAtBat</td>
                        <td style="text-align:center">@shortstop.Team</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>

<section class="portfolio" id="outfield">
    <h1> Outfielders </h1>
    <div class="row">
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Yesterday Top Performers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.YesterdayOutfielders)
                {
                    <tr>
                        <td style="text-align:center" width="75%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.TotalScore</td>
                    </tr>
                }
            </table>
        </div>

        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Away Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.AwayOutfielders)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.TotalScore</td>
                        <td style="text-align:center">@outfielder.PointPerAtBat</td>
                        <td style="text-align:center">@outfielder.Team</td>
                    </tr>

                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Home Stats</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.HomeOutfielders)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.TotalScore</td>
                        <td style="text-align:center">@outfielder.PointPerAtBat</td>
                        <td style="text-align:center">@outfielder.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Right Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.RhpOutfielders)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.TotalScore</td>
                        <td style="text-align:center">@outfielder.PointPerAtBat</td>
                        <td style="text-align:center">@outfielder.Team</td>
                    </tr>
                }
            </table>
        </div>
        <div class="table-responsive col-lg-2">
            <table class="table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center">Versus Left Handers</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Total Score</th>
                    </tr>
                </thead>
                @foreach (var outfielder in Model.LhpOutfielders)
                {
                    <tr>
                        <td style="text-align:center" width="50%">@outfielder.Name</td>
                        <td style="text-align:center">@outfielder.TotalScore</td>
                        <td style="text-align:center">@outfielder.PointPerAtBat</td>
                        <td style="text-align:center">@outfielder.Team</td>
                    </tr>
                }
            </table>
        </div>


    </div>
</section>


<script>
    function catcherData() {
        var data = new Array();


        @foreach (var player in Model.Catchers)
        {
            var playerName = player.FirstName + " " + player.LastName;

            @:data.push({ Name: "@playerName", Team: "@player.TeamName", YesterdayScore: "@player.YesterdayTotalScore", LastFiveGames: "@player.LastFiveTotalScore", AwayGames: "@player.AwayTotalScore", AwayPPA: "@player.AwayScorePerAB", HomeGames: "@player.HomeTotalScore", HomePPA: "@player.HomeScorePerAB", VersusLHP: "@player.VsLhpTotalScore", LhpPPA: "@player.VsLhpScorePerAB",  VersusRHP: "@player.VsLhpTotalScore", RhpPPA: "@player.VsRhpScorePerAB" });

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#catchers").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Yesterday Score",
                field: "YesterdayScore",
                encoded: true
            }, {
                title: "Last Five Games",
                field: "LastFiveGames",
                encoded: true
            }, {
                title: "Away Games",
                field: "AwayGames",
                encoded: true
            },  {
                title: "Away PPA",
                field: "AwayPPA",
                encoded: true
            },{
                title: "Home Games",
                field: "HomeGames",
                encoded: true
            }, {
                title: "Home PPA",
                field: "HomePPA",
                encoded: true
            }, {
                title: "Versus LHP",
                field: "VersusLHP",
                encoded: true
            }, {
                title: "LHP PPA",
                field: "LhpPPA",
                encoded: true
            }, {
                title: "Versus RHP",
                field: "VersusRHP"
            },  {
                title: "RHP PPA",
                field: "RhpPPA",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: catcherData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Team: {
                                type: "string"
                            },
                            YesterdayScore: {
                                type: "number"
                            },
                            LastFiveGames: {
                                type: "number",
                                defaultValue: null
                            },
                            AwayGames: {
                                type: "number"
                            },
                            AwayPPA: {
                                type: "decimal"
                            },
                            HomeGames: {
                                type: "number",
                                defaultValue: null
                            },
                            HomePPA: {
                                type: "decimal"

                            },
                            VersusLHP: {
                                type: "number",
                                defaultValue: null
                            },
                            LhpPPA: {
                                type: "decimal"

                            },
                            VersusRHP: {
                                type: "number"
                            },
                            RhpPPA: {
                                type: "decimal"

                            }
                        }
                    }
                }
            }
        });
    });
</script>

<script>
    function firstbaseData() {
        var data = new Array();


        @foreach (var player in Model.FirstBasemen)
        {
            var playerName = player.FirstName + " " + player.LastName;

             @:data.push({ Name: "@playerName", Team: "@player.TeamName", YesterdayScore: "@player.YesterdayTotalScore", LastFiveGames: "@player.LastFiveTotalScore", AwayGames: "@player.AwayTotalScore", AwayPPA: "@player.AwayScorePerAB", HomeGames: "@player.HomeTotalScore", HomePPA: "@player.HomeScorePerAB", VersusLHP: "@player.VsLhpTotalScore", LhpPPA: "@player.VsLhpScorePerAB",  VersusRHP: "@player.VsLhpTotalScore", RhpPPA: "@player.VsRhpScorePerAB" });
        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#firstbasemen").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Yesterday Score",
                field: "YesterdayScore",
                encoded: true
            }, {
                title: "Last Five Games",
                field: "LastFiveGames",
                encoded: true
            }, {
                title: "Away Games",
                field: "AwayGames",
                encoded: true
            }, {
                title: "Home Games",
                field: "HomeGames",
                encoded: true
            }, {
                title: "Versus LHP",
                field: "VersusLHP",
                encoded: true
            }, {
                title: "Versus RHP",
                field: "VersusRHP",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: firstbaseData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Team: {
                                type: "string"
                            },
                            YesterdayScore: {
                                type: "number"
                            },
                            LastFiveGames: {
                                type: "number",
                                defaultValue: null
                            },
                            AwayGames: {
                                type: "number"
                            },
                            AwayPPA: {
                                type: "decimal"
                            },
                            HomeGames: {
                                type: "number",
                                defaultValue: null
                            },
                            HomePPA: {
                                type: "decimal"

                            },
                            VersusLHP: {
                                type: "number",
                                defaultValue: null
                            },
                            LhpPPA: {
                                type: "decimal"

                            },
                            VersusRHP: {
                                type: "number"
                            },
                            RhpPPA: {
                                type: "decimal"

                            }
                        }
                    }
                }
            }
        });
    });
</script>

<script>
    function secondbaseData() {
        var data = new Array();


        @foreach (var player in Model.SecondBasemen)
        {
            var playerName = player.FirstName + " " + player.LastName;

            @:data.push({ Name: "@playerName", Team: "@player.TeamName", YesterdayScore: "@player.YesterdayTotalScore", LastFiveGames: "@player.LastFiveTotalScore", AwayGames: "@player.AwayTotalScore", AwayPPA: "@player.AwayScorePerAB", HomeGames: "@player.HomeTotalScore", HomePPA: "@player.HomeScorePerAB", VersusLHP: "@player.VsLhpTotalScore", LhpPPA: "@player.VsLhpScorePerAB",  VersusRHP: "@player.VsLhpTotalScore", RhpPPA: "@player.VsRhpScorePerAB" });

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#secondbasemen").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Yesterday Score",
                field: "YesterdayScore",
                encoded: true
            }, {
                title: "Last Five Games",
                field: "LastFiveGames",
                encoded: true
            }, {
                title: "Away Games",
                field: "AwayGames",
                encoded: true
            }, {
                title: "Home Games",
                field: "HomeGames",
                encoded: true
            }, {
                title: "Versus LHP",
                field: "VersusLHP",
                encoded: true
            }, {
                title: "Versus RHP",
                field: "VersusRHP",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: secondbaseData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Team: {
                                type: "string"
                            },
                            YesterdayScore: {
                                type: "number"
                            },
                            LastFiveGames: {
                                type: "number",
                                defaultValue: null
                            },
                            AwayGames: {
                                type: "number"
                            },
                            AwayPPA: {
                                type: "decimal"
                            },
                            HomeGames: {
                                type: "number",
                                defaultValue: null
                            },
                            HomePPA: {
                                type: "decimal"

                            },
                            VersusLHP: {
                                type: "number",
                                defaultValue: null
                            },
                            LhpPPA: {
                                type: "decimal"

                            },
                            VersusRHP: {
                                type: "number"
                            },
                            RhpPPA: {
                                type: "decimal"

                            }
                        }
                    }
                }
            }
        });
    });
</script>

<script>
    function thirdbaseData() {
        var data = new Array();


        @foreach (var player in Model.ThirdBasemen)
        {
            var playerName = player.FirstName + " " + player.LastName;

             @:data.push({ Name: "@playerName", Team: "@player.TeamName", YesterdayScore: "@player.YesterdayTotalScore", LastFiveGames: "@player.LastFiveTotalScore", AwayGames: "@player.AwayTotalScore", AwayPPA: "@player.AwayScorePerAB", HomeGames: "@player.HomeTotalScore", HomePPA: "@player.HomeScorePerAB", VersusLHP: "@player.VsLhpTotalScore", LhpPPA: "@player.VsLhpScorePerAB",  VersusRHP: "@player.VsLhpTotalScore", RhpPPA: "@player.VsRhpScorePerAB" });

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#thirdbasemen").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Yesterday Score",
                field: "YesterdayScore",
                encoded: true
            }, {
                title: "Last Five Games",
                field: "LastFiveGames",
                encoded: true
            }, {
                title: "Away Games",
                field: "AwayGames",
                encoded: true
            }, {
                title: "Home Games",
                field: "HomeGames",
                encoded: true
            }, {
                title: "Versus LHP",
                field: "VersusLHP",
                encoded: true
            }, {
                title: "Versus RHP",
                field: "VersusRHP",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: thirdbaseData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Team: {
                                type: "string"
                            },
                            YesterdayScore: {
                                type: "number"
                            },
                            LastFiveGames: {
                                type: "number",
                                defaultValue: null
                            },
                            AwayGames: {
                                type: "number"
                            },
                            AwayPPA: {
                                type: "decimal"
                            },
                            HomeGames: {
                                type: "number",
                                defaultValue: null
                            },
                            HomePPA: {
                                type: "decimal"

                            },
                            VersusLHP: {
                                type: "number",
                                defaultValue: null
                            },
                            LhpPPA: {
                                type: "decimal"

                            },
                            VersusRHP: {
                                type: "number"
                            },
                            RhpPPA: {
                                type: "decimal"

                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function shortstopData() {
        var data = new Array();


        @foreach (var player in Model.ShortStops)
        {
            var playerName = player.FirstName + " " + player.LastName;

             @:data.push({ Name: "@playerName", Team: "@player.TeamName", YesterdayScore: "@player.YesterdayTotalScore", LastFiveGames: "@player.LastFiveTotalScore", AwayGames: "@player.AwayTotalScore", AwayPPA: "@player.AwayScorePerAB", HomeGames: "@player.HomeTotalScore", HomePPA: "@player.HomeScorePerAB", VersusLHP: "@player.VsLhpTotalScore", LhpPPA: "@player.VsLhpScorePerAB",  VersusRHP: "@player.VsLhpTotalScore", RhpPPA: "@player.VsRhpScorePerAB" });

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#shortstops").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Yesterday Score",
                field: "YesterdayScore",
                encoded: true
            }, {
                title: "Last Five Games",
                field: "LastFiveGames",
                encoded: true
            }, {
                title: "Away Games",
                field: "AwayGames",
                encoded: true
            }, {
                title: "Home Games",
                field: "HomeGames",
                encoded: true
            }, {
                title: "Versus LHP",
                field: "VersusLHP",
                encoded: true
            }, {
                title: "Versus RHP",
                field: "VersusRHP",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: shortstopData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Team: {
                                type: "string"
                            },
                            YesterdayScore: {
                                type: "number"
                            },
                            LastFiveGames: {
                                type: "number",
                                defaultValue: null
                            },
                            AwayGames: {
                                type: "number"
                            },
                            AwayPPA: {
                                type: "decimal"
                            },
                            HomeGames: {
                                type: "number",
                                defaultValue: null
                            },
                            HomePPA: {
                                type: "decimal"

                            },
                            VersusLHP: {
                                type: "number",
                                defaultValue: null
                            },
                            LhpPPA: {
                                type: "decimal"

                            },
                            VersusRHP: {
                                type: "number"
                            },
                            RhpPPA: {
                                type: "decimal"

                            }
                        }
                    }
                }
            }
        });
    });
</script>
<script>
    function outfielderData() {
        var data = new Array();


        @foreach (var player in Model.Outfielders)
        {
            var playerName = player.FirstName + " " + player.LastName;

             @:data.push({ Name: "@playerName", Team: "@player.TeamName", YesterdayScore: "@player.YesterdayTotalScore", LastFiveGames: "@player.LastFiveTotalScore", AwayGames: "@player.AwayTotalScore", AwayPPA: "@player.AwayScorePerAB", HomeGames: "@player.HomeTotalScore", HomePPA: "@player.HomeScorePerAB", VersusLHP: "@player.VsLhpTotalScore", LhpPPA: "@player.VsLhpScorePerAB",  VersusRHP: "@player.VsLhpTotalScore", RhpPPA: "@player.VsRhpScorePerAB" });

        }

        return data;
    }

    $(function () {
        $("#responsive-panel").kendoResponsivePanel({
            breakpoint: 768,
            autoClose: false,
            orientation: "top"
        });

        $("#menu").kendoMenu();
        $(".textButton").kendoButton();

        $("#outfielders").kendoGrid({
            columns: [{
                title: "Name",
                field: "Name",
                filterable: false,
                encoded: true
            }, {
                title: "Team",
                field: "Team",
                encoded: true
            }, {
                title: "Yesterday Score",
                field: "YesterdayScore",
                encoded: true
            }, {
                title: "Last Five Games",
                field: "LastFiveGames",
                encoded: true
            }, {
                title: "Away Games",
                field: "AwayGames",
                encoded: true
            }, {
                title: "Home Games",
                field: "HomeGames",
                encoded: true
            }, {
                title: "Versus LHP",
                field: "VersusLHP",
                encoded: true
            }, {
                title: "Versus RHP",
                field: "VersusRHP",
                encoded: true
            }],
            pageable: {
                buttonCount: 10
            },
            sortable: true,
            filterable: true,
            messages: {
                noRecords: "No records available."
            },
            dataSource: {
                data: outfielderData(),
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Name: {
                                type: "string"
                            },
                            Team: {
                                type: "string"
                            },
                            YesterdayScore: {
                                type: "number"
                            },
                            LastFiveGames: {
                                type: "number",
                                defaultValue: null
                            },
                            AwayGames: {
                                type: "number"
                            },
                            AwayPPA: {
                                type: "decimal"
                            },
                            HomeGames: {
                                type: "number",
                                defaultValue: null
                            },
                            HomePPA: {
                                type: "decimal"

                            },
                            VersusLHP: {
                                type: "number",
                                defaultValue: null
                            },
                            LhpPPA: {
                                type: "decimal"

                            },
                            VersusRHP: {
                                type: "number"
                            },
                            RhpPPA: {
                                type: "decimal"

                            }
                        }
                    }
                }
            }
        });
    });
</script>